:root {
    --bodyColor: rgb(44, 44, 44);
    --cardColor: rgb(31, 31, 31); 
    --orangeColor: rgb(255, 131, 73); 
    --darkOrangeColor: rgb(255, 107, 38);
    --fontColor: #fff;
    --headerFont: 'Joan', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bodyColor);
    color: var(--fontColor);
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: var(--headerFont);
    font-size: 3rem;
    text-align: center;
}

.card--heading {
    font-family: var(--headerFont);
    font-size: 2.5rem;
    text-align: start;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    grid-row-start: auto;
}

img {
    min-height: 350px;
    max-height: 500px;
    max-width: 450px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1, h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--orangeColor);
    text-shadow: 3px 3px #151515;
}

a {
    color: white;
    text-decoration: none;
}

.hyperlink {
    color: var(--orangeColor);
}

.hyperlink:hover {
    color: var(--darkOrangeColor);
    text-decoration: underline;
}

p {
    font-family: 'Roboto', sans-serif;
}

.content--card {
    padding: 1rem;
    background-color: var(--cardColor);
    margin-bottom: 1rem;
    max-width: 900px;
}

.box--shadow {
    box-shadow: 3px 6px 9px var(--orangeColor); /* #151515 old code in case of regrets */
}

.portfolio--card--spacing {
    display: grid;
    grid-area: auto;
}

.portfolio--container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    gap: 10px 20px;
}

.changeThisNameLol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
}

.changeThisNameLol p {
    padding-left: 1rem;
    font-size: 1.3rem;
}

.portfolio--links {
    text-align: center;
    margin-top: 5px;
}

.portfolio--links div{
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
}

/* Header */
ul {
    list-style: none;
}

ul li {
    padding: 0 0.75rem;
    margin-right: 5px;
    display: inline-block;
    font-size: 2rem;
    border-right: 1px solid var(--orangeColor);
    border-bottom: 1px solid var(--orangeColor);
}

ul li:hover {
    background: var(--cardColor);
    color: var(--orangeColor);
}
/* Greetings Section */

.greetings--section .content--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greetings--section p {
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.greetings--section img {
    border-radius: 50%;
    justify-content: center;
    padding: 1.5rem 0;
}

/* Media Queries */

@media (max-width: 830px) {
    .portfolio--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .changeThisNameLol {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 450px;
    }
    .nav {
        display: none;
    }

    .card--heading {
        margin-top: 0.75rem;
    }
}

@media (max-width: 400px) {
    .greetings--section p {
        font-size: 1.6rem;
    }
}